@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root {
	--col-1-1:#e20c75;
	--col-1-2:#0ad3fa;	
	--col-2-1:#001af5;
	--col-2-2:#1320ac;
	--col-3-1:#12f55d;
	--col-3-2:#1320ac;
	--col-4-1:#ffe33f;
	--col-4-2:#f22920;
	--col-5-1:#fbe240;
	--col-5-2:#0ffcef;
	--col-6-1:#3c4487;
	--col-6-2:#d5539e;
	--col-7-1:#afe35b;
	--col-7-2:#1ba797;
	--col-8-1:#0de7fa;
	--col-8-2:#1203fa;
	--col-9-1:#fffbc8;
	--col-9-2:#ec0958;
	--col-10-1:#ff026a;
	--col-10-2:#3d25ed;
	--col-11-1:#ecb315;
	--col-11-2:#faa62f;
	--col-12-1:#5a136e;
	--col-12-2:#ff009c;
	--gradiente-1:  linear-gradient(90deg,#e20c75,#c74d97,#0ad3fa,#c74d97,#e20c75);
    --gradiente-2:  linear-gradient(90deg,#f92edc,#811fee,#001af5,#811fee,#f92edc);
    --gradiente-3:  linear-gradient(90deg,#12f55d,#079ba5,#1320ac,#079ba5,#12f55d);
    --gradiente-4:  linear-gradient(90deg,#ffe33f,#ff9933,#f22920,#ff9933,#ffe33f);
    --gradiente-5:  linear-gradient(90deg,#fbe240,#8ff090,#0ffcef,#8ff090,#fbe240);
    --gradiente-6:  linear-gradient(90deg,#3c4487,#8935ca,#d5539e,#8935ca,#3c4487);
    --gradiente-7:  linear-gradient(90deg,#afe35b,#31b68b,#1ba797,#afe35b,#31b68b);
    --gradiente-8:  linear-gradient(90deg,#0de7fa,#079ba5,#1203fa,#079ba5,#0de7fa);
    --gradiente-9:  linear-gradient(90deg,#fffbc8,#df3d4d,#ec0958,#df3d4d,#fffbc8);
    --gradiente-10: linear-gradient(90deg,#ff026a,#ab18a2,#3d25ed,#ab18a2,#ff026a);
    --gradiente-11: linear-gradient(90deg,#ecb315,#dc3b6f,#faa62f,#dc3b6f,#ecb315);
    --gradiente-12: linear-gradient(90deg,#5a136e,#a90b84,#ff009c,#a90b84,#5a136e);
    --bg:#121212;
}
body {
  background-color:var(--bg);
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  height: 100%;
  width: 100%;
  place-items: center;
}
/* Texto Animado */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Fondo Bolas */

.container-balls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bolas {
  width: 100%;
}

#bolas {
  display: block;
  z-index:-1;
  position:fixed;
  width:100%;
  height:100%
}

/* Titulo paginas individuales */

p.texto {
	position:absolute;
	text-align: center;
	min-width:100%;
	color:white;
	font-weight:800;
	font-size:3em;
	top:3%;
}

/* Texto */

.datos {
font-weight:300;
color:white;
font-size:2em;
margin:10px;
padding:10px;
border:.2em solid white;
border-radius:20px;
}
#titulo {
    text-align:center;
    width:100%;
    font-weight:700;
}
span.titulos {
color:var(--col-1-1);
font-weight:500;
}



@media (min-width: 768px) {
  .slant {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Grid paginas individuales */

.container {
	position:absolute;
	margin-top:6%;
	margin-left:5%;
	margin-right:5%;
	width:calc(100vw - 10%);
	height:calc(100vh - 20%);
	padding:0;
	padding-left:10px;
}


.container {
  display: grid;
  column-gap:10px;
  row-gap:10px;
  grid-template-columns: 2fr 15%;
  grid-template-rows: 1fr 1fr 1fr;
}

.map-div {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

}
.map {
	position:relative;
	min-width:90%;
	height:.9fr margin:5% 0px 0px 5%; }

#start {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}


#before {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
	}

#after {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

.datos {
    grid-column: 1/2;
    grid-row 3/3:
}
p {
    color:white;
}

/* Botones */
.btn {
  border:.2em solid white;
  border-radius:20px;
  box-sizing: border-box;
  color: #000;
  display: block;
  height: 100%;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  width: 90%;
  height: 90%;
  align-items: center;
  background: #FFF;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease;
margin:10px;
}

.btn:hover {
  background: transparent;
  color: #fff;
}

/*
.btn:hover:before {
animation-play-state: running;
}

@keyframes btn-glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
*/


